{% extends 'base.html.twig' %}

{% block title %}{{ 'scores.title' | trans }}{% endblock %}

{% block body %}
<section class="h-screen w-screen bg-blue-100">
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold text-center mb-8 p-10">{{ 'global.ranking.title' | trans }}</h1>

        <!-- Message d'avertissement pour les petits écrans -->
        <div class="text-center mb-4 text-red-600 sm:hidden">
            <p>{{ 'scores.warning_window_size_table' | trans }}</p>
        </div>

        <div class="overflow-x-auto max-w-full">
            <table class="min-w-full table-auto bg-white shadow-lg rounded-lg overflow-hidden">
                <thead>
                    <tr class="bg-sky-800 text-white">
                        <th class="px-2 py-2 text-center text-sm sm:text-base">{{ 'global.ranking.title' | trans }}</th>
                        <th class="px-2 py-2 text-center text-sm sm:text-base">{{ 'global.ranking.team_name' | trans }}</th>
                        <th class="px-2 py-2 text-center text-sm sm:text-base">{{ 'global.ranking.encounters_played' | trans }}</th>
                        <th class="px-2 py-2 text-center text-sm sm:text-base hidden sm:table-cell">{{'global.ranking.encounters_won' | trans}}</th>
                        <th class="px-2 py-2 text-center text-sm sm:text-base hidden sm:table-cell">{{ 'global.ranking.encounters_draw' | trans }}</th>
                        <th class="px-2 py-2 text-center text-sm sm:text-base hidden sm:table-cell">{{ 'global.ranking.points' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        {% set highlight = team.id in userTeamIds %}
                        <tr class="border-t border-gray-200 hover:bg-gray-50 {% if highlight %}bg-yellow-100 hover:bg-yellow-300{% endif %}">
                            <td class="px-2 py-2 text-center text-sm sm:text-base">{{ team.rank }}</td>
                            <td class="px-2 py-2 text-center text-sm sm:text-base">{{ team.name }}</td>
                            <td class="px-2 py-2 text-center text-sm sm:text-base">{{ team.matches_played }}</td>
                            <td class="px-2 py-2 text-center text-sm sm:text-base hidden sm:table-cell">{{ team.matches_won }}</td>
                            <td class="px-2 py-2 text-center text-sm sm:text-base hidden sm:table-cell">{{ team.matches_drawn }}</td>
                            <td class="px-2 py-2 text-center text-sm sm:text-base hidden sm:table-cell">{{ team.points }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="px-4 py-2 text-center text-gray-500">{{ 'global.ranking.no_teams' | trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Pagination -->
        <div class="pagination mt-6 flex justify-center items-center space-x-1">
            <!-- Bouton précédent -->
            {% if page > 1 %}
                <button onclick="window.location.href='{{ path('app_page_tableau_scores', {'page': page - 1}) }}'"
                        class="px-3 py-1 bg-sky-800 text-white rounded-l hover:bg-sky-400 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"/>
                    </svg>
                </button>
            {% endif %}

            <!-- Première page -->
            <button onclick="window.location.href='{{ path('app_page_tableau_scores', {'page': 1}) }}'"
                    class="px-3 py-1 {{ page == 1 ? 'bg-sky-800 text-white' : 'bg-gray-200' }} hover:bg-sky-400 rounded-lg">
                1
            </button>

            <!-- Points de suspension avant les pages proches -->
            {% if page > 4 %}
                <span class="px-3 py-1">...</span>
            {% endif %}

            <!-- Pages proches -->
            {% for i in max(2, page - 2)..min(totalPages - 1, page + 2) %}
                <button onclick="window.location.href='{{ path('app_page_tableau_scores', {'page': i}) }}'"
                        class="px-3 py-1 {{ i == page ? 'bg-sky-800 text-white' : 'bg-gray-200' }} hover:bg-sky-400 rounded-lg">
                    {{ i }}
                </button>
            {% endfor %}

            <!-- Points de suspension après les pages proches -->
            {% if page < totalPages - 3 %}
                <span class="px-3 py-1">...</span>
            {% endif %}

            <!-- Dernière page -->
            {% if totalPages > 1 %}
                <button onclick="window.location.href='{{ path('app_page_tableau_scores', {'page': totalPages}) }}'"
                        class="px-3 py-1 {{ page == totalPages ? 'bg-sky-800 text-white' : 'bg-gray-200' }} hover:bg-sky-400 rounded-lg">
                    {{ totalPages }}
                </button>
            {% endif %}

            <!-- Bouton suivant -->
            {% if page < totalPages %}
                <button onclick="window.location.href='{{ path('app_page_tableau_scores', {'page': page + 1}) }}'"
                        class="px-3 py-1 bg-sky-800 text-white rounded-r hover:bg-sky-400 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
                    </svg>
                </button>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
