{% extends 'base.html.twig' %}

{% block title %}TEncounterEnc{% endblock %}

{% block body %}
    <h1>TEncounterEnc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_encounter_enc.id }}</td>
            </tr>
            <tr>
                <th>ScoreBlue</th>
                <td>{{ t_encounter_enc.scoreBlue }}</td>
            </tr>
            <tr>
                <th>ScoreGreen</th>
                <td>{{ t_encounter_enc.scoreGreen }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ t_encounter_enc.state }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_t_encounter_enc_index') }}">back to list</a>

    <a href="{{ path('app_t_encounter_enc_edit', {'id': t_encounter_enc.id}) }}">edit</a>

    {{ include('t_encounter_enc/_delete_form.html.twig') }}
{% endblock %}
